
{% extends "base.html" %}
{% load calc %}


{% block content %}

  <br><br><br>
  {% for post in posts %}
    <div id="post_title">
  	<a href="{{ post.get_permalink }}">
  		{{ post.title }}
  	</a>
    </div>
    <div id="post_details">
    {% ifequal list_categories 'true' %}
        <a href="{{ post.category.get_permalink }}" style="color: #{{ post.category.color }}">
          {{ post.category }}
        </a> &middot;
      
    {% endifequal %}
    
    {{ post.date_published|date:"j F Y"|lower  }}
    
    {% for tag in post.get_tags %}
      &middot;
      <span id="tag">{{ tag }}</span>
    {% endfor %}
    </div>
    <div id="post_body">{% autoescape off %}{{ post.brief }}{% endautoescape %} 
        <a href="{{ post.get_permalink }}" title="{{ post.title }}"> continue reading...</a>
    </div>


  <br><br>
  {% endfor %}

    <script>
      window.onload = function() {
        {% for post in posts %}
          {% for gallery in post.galleries.all %}
            var wall_{{ gallery.pk }} = new Masonry( document.getElementById('gallery_{{ gallery.pk }}'), {
             columnWidth: 130,
             itemSelector: '.picture',
             gutterWidth: 5,
             isFitWidth: true,
            });
          {% endfor %}
        {% endfor %}
      };
    </script> 

{% endblock %}

