
{% extends "base.html" %}
{% load calc %}

{% block keywords %}{% for tag in post.get_tags %} {{ tag }}{% endfor %}{% endblock %}

{% block content %}

  
  <div style="clear: both;"></div>
  <br><br>

  <div style="clear: both;"></div>
  <div id="section_header">{{ post.title }}</div>

  <div id="post_details">
  	{% for category in post.categories.all %}
        <a href="{{ category.get_permalink }}" style="color: #{{ category.color }}">
        {{ category.name }}</a> &middot;
    {% endfor %}

    {{ post.date_published|date:"j F Y"|lower  }}
  	
  	{% for tag in post.get_tags %}
  		&middot;
  		<span id="tag">{{ tag }}</span>
  	{% endfor %}

  </div>


  <div id="post_body">{% autoescape off %}{{ post.body }}{% endautoescape %}</div>
  
  {% ifnotequal gal "full" %}
  	  
	  {% for gallery in post.galleries.all %}
	  	<a href="#gallery_{{ gallery.pk }}"></a>
	  	<div id="gallery">
	  	<div id="gallery_title">{{ gallery.title }}</div>
	  	<div id="post_body">{% autoescape off %}{{ gallery.description }}{% endautoescape %}</div>
	    <div id="gallery_{{ gallery.pk }}">
	    {% for picture in gallery.picture_set.all %}
	      <div class="picture" style="width: {{ picture.thumbnail_size|divwidth:130 }}px;">
	        <a href="/media/{{ picture.url_resize }}" rel="lightbox[gallery_{{ gallery.pk }}]" title="{{ picture.title }}">
	          <img src="/media/{{ picture.url_thumbnail }}" alt="{{ picture.title }}">
	        </a>
	      </div>
	    {% endfor %}
	    </div>
	    <br>
	    <div id="post_body" style="text-align: right;">
	  	<a href="{{ post.get_fullpermalink }}#gallery_{{ gallery.pk }}">
	  		see full-size gallery
	  	</a>
	    </div>
		</div>
	  {% endfor %}

	 	<script>
	      window.onload = function() {
	          {% for gallery in post.galleries.all %}
	            var wall_{{ gallery.pk }} = new Masonry( document.getElementById('gallery_{{ gallery.pk }}'), {
	             columnWidth: 130,
	             itemSelector: '.picture',
	             isAnimated: true,
	             gutterWidth: 5,
	             isFitWidth: true,
	            });

	           $(function(){
	               $('#gallery_{{ gallery.pk }} a').lightBox({ 
	                    imageBtnClose:               '/media/close.gif', 
	               });
	            });
	          {% endfor %}
	      };
	           
          
	    </script>
	    

   {% else %}

	{% for gallery in post.galleries.all %}
		 <a href="#gallery_{{ gallery.pk }}"></a>
	  	<div id="gallery">
	  	<div id="gallery_title">{{ gallery.title }}</div>
	  	<br>
	    <div id="gallery_{{ gallery.pk }}">
	    {% for picture in gallery.picture_set.all %}
	          <img src="/media/{{ picture.url_resize }}" alt="{{ picture.title }}" style="width: 100%; padding-bottom: 10px;">
	          <br>{{ picture.title }} <br>{{ picture.description }}<br><br>
	    {% endfor %}
	    </div>
		</div>
		
	  {% endfor %}
   {% endifnotequal %}
   	
{% endblock %}